<div class="container__banner">
  <% hotMovies.slice(1,2).map(function(mv){ %>
  <header class="featured-content" style="
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
        url('<%=mv.movieThumb.full%>');
      background-size: cover;
      background-position: center center;
    ">
    <div class="banner__contents">
      <div class="banner__showsdetail">
        <h1 class="banner__title">
          <%-mv.title%>
        </h1>


        <div class="content_p">
          <p> <%-
    mv.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,
    150)+'...'%> </p>
        </div>

        <div class="display__button">
          <button type="button" class="btn btn-outline-secondary"><a href="/phim/<%= mv.slug %>"> Detail </a></button>
          <button type="button" class="btn btn-outline-danger"><a href="/phim/<%= mv.slug %>/xem-phim"> watch
            </a></button>
        </div>


        <h1>Xem nhiều</h1>

        <div class="display__img">


          <div class="control__img">
            <% hotMovies.forEach(function(mv){ %>

            <a href="/phim/<%= mv.slug %>">
              <img src="<%=mv.movieThumb.full%>" alt="" class="img-poster" />
            </a>

            <% }); %>

          </div>
        </div>


      </div>
    </div>
  </header>

  <% }); %>
</div>