<!-- page title -->
<section class="section section--first section--bg py-4" data-bg="/img/section/section.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="home__title">Phim bộ</h2>
                    <!-- end section title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- catalog -->

        <div class="row">
            <!-- end section title -->
            <% listMovies.forEach(function(mv){ %>
                <% 
                    parts = mv.parts.toLowerCase().replace('tập','')
                    parts = (parts == 0) ?  mv.movie_part_series.length :  parts;
                 %>
            <!-- card -->
            <div class="display">
                <div class="movies">
                    <div class="front">
                        <span class="part-item"><%- mv.movie_part_series.length +"/"+parts %></span>
                        <img
                        src="<%=mv.movieThumb.thumb%>"
                        alt="<%-mv.title%>"
                        class="thumbnail"
                        loading="lazy"
                      />
                      <h4><%= mv.title %></h4>
                    </div>
                    <div class="back">
                        <div class="btn__container">
                            <button class="btn"">
                                <a href="phim-bo/phim/<%= mv.slug %>">Xem thêm</a>
                            </button>
                        </div>
                      </div>
                </div>
            </div>
            <!-- end card -->
            <% }); %>
            <%- include('../../partials/paging-default.ejs') %> 
        </div>

<!-- end catalog -->