<!-- home -->

<div>
    <div class="row">
        <div class="col-12">
            <span class="fast-flicker home__title mb-2">Phim</span>
            <span class="fast-flicker home__title mb-2">Hoạt</span>
            <span class="flicker home__title mb-2">Hình</span>
        </div>
        <% hoathinh.slice(0,20).map(function(mv){ %>



        <!-- card -->
        <div class="col-6 col-sm-4 col-lg-4 col-xl-3">

        
        <div class="display">
            <div class="movies">
                <div class="front">
                    <img src="<%=mv.movieThumb.thumb%>" alt="<%-mv.title%>" class="thumbnail" loading="lazy" />
                    <h4>
                        <%= mv.title %>
                    </h4>


                </div>
                <div class="back">
                    <div class="btn__container">

                        <div class="content__card">
                            <h4>OverView:</h4>
                            <p> <%-
                              mv.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,
                              100)+'...'%> </p>
                        </div>

                        <div class="btn__imgcontainer">
                            <button class="btn__img" ">
                                    <a href="/phim/<%=mv.slug %>">Xem thêm</a> </button> </div> </div> </div> <div
                                class="background"></div>
                    </div>

                </div>

            </div>

                <!-- end card -->
                <% }); %>

                <div class="col-12">
                    <a href="/the-loai/phim-hoat-hinh/page/1" class="section__btn">More</a>
                </div>
            </div>
        </div>
        <!-- end home -->