<!-- Phim hot -->
<!-- data-bg="img/section/section.jpg" -->

<section>
    <div>
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="home__title mb-2">Phim Hot</h2>
            </div>
            <!-- end section title -->
            <% hotMovies.slice(0,6).map(function(mv){ %>
                <!-- card -->
                <div class="display">
                    <div class="movies">
                        <span class="rank"> <%- mv.score %> </span>
                        <div class="front">
                            <img src="<%=mv.movieThumb.thumb%>" alt="<%-mv.title%>" class="thumbnail" loading="lazy" />
                            <h4>
                                <%= mv.title %>
                            </h4>
                        </div>
                        <div class="back">
                            <div class="btn__container">



                                <button class="btn__img">
                <a href="/phim/<%=mv.slug %>">Xem Thêm</a>
              </button>


                            </div>
                        </div>

                        <div class="background"></div>
                    </div>
                </div>
                <!-- end card -->
                <% }); %>
                    <!-- section btn -->
                    <div class="col-12">
                        <a href="/the-loai/phim-hanh-dong/page/1" class="section__btn">More</a>
                    </div>
                    <!-- end section btn -->
        </div>
    </div>
</section>

<!-- end phim hot -->