<!DOCTYPE html>
<html lang="en">

<head>
  

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="propeller" content="fdf82b1b59e850daaf655cc6f82d3686" />

  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />

  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/select2.min.css" />
  <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
  <link rel="stylesheet" href="/css/nouislider.min.css" />
  <link rel="stylesheet" href="/css/ionicons.min.css" />
  <link rel="stylesheet" href="/css/plyr.css" />
  <link rel="stylesheet" href="/css/photoswipe.css" />
  <link rel="stylesheet" href="/css/default-skin.css" />
  
  <link rel="stylesheet" href="/css/kismovie.css" />


  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <!-- Favicons -->
  <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

  <title>Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Kismovie – Dịch Vụ Xem Phim Online 2021 miễn phí đem lại cho bạn cảm xúc như ở rạp và bên gia đình. Hơn nữa, đa dạng trên nhiều nền tảng là tự hào của chúng tôi" />
  <meta name="author" content="Đạt Huỳnh" />
  <meta name="keywords" content="KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub" />
  <meta expr:content="data:blog.pageTitle" property="og:title"/>
  <meta expr:content="data:blog.url" property="og:url"/>
  <meta content="KisMovies" property="og:site_name" />
  <meta content="629688671039918" property="fb:app_id"/>
  <meta content="article" property="og:type"/>
  <% if (movie) { %>
  <title>KiSmovies | <%- movie.title %></title>
  <meta name="keywords" content="<%- movie.slug %>" />
  <meta name="description" content="<%-movie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,160)+'...'%>" />
  <meta property="og:url" content="/phim/<%- movie.slug %>/xem-phim" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="KisMovie | <%- movie.title %>" />
  <meta property="og:description" content="<%- movie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,160)+'...'%>" />
  <meta property="og:image" content="<%- movie.movieThumb.full%>" />
  <meta property="og:image:alt" content="<%- movie.title %>" />
  <% } else { %>
  <title><%-title%></title>
  <meta name="keywords" content="KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub" />
  <meta property="og:title" content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!" />
  <meta property="og:description" content="Kismovie – Dịch Vụ Xem Phim Online 2021 miễn phí đem lại cho bạn cảm xúc như ở rạp và bên gia đình. Hơn nữa, đa dạng trên nhiều nền tảng là tự hào của chúng tôi" />
  <meta property="og:url" content="https://kismovie.com/" content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!" />
  <meta property="og:image" content="https://kismovie.com/img/banner.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:image:alt" content="KisMovie-Banner" />
  <% } %>


</head>

</html>