<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="cSyVS79g29OPDSv3WQgWkcWbiloCAaqomh_FUij1Sbg" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199833655-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-199833655-1');
  </script>
  <script data-ad-client="ca-pub-4621415013380457" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="propeller" content="fdf82b1b59e850daaf655cc6f82d3686" />

  <!-- CSS -->
  <link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/owl.carousel.min.css" />
  <link rel="stylesheet" href="/css/select2.min.css" />
  <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
  <link rel="stylesheet" href="/css/nouislider.min.css" />
  <link rel="stylesheet" href="/css/ionicons.min.css" />
  <link rel="stylesheet" href="/css/plyr.css" />
  <link rel="stylesheet" href="/css/photoswipe.css" />
  <link rel="stylesheet" href="/css/default-skin.css" />
  <link rel="stylesheet" href="/css/bemovie.css?v=1.0.1" />
  <link rel="stylesheet" href="/public/css/moviesbanner.scss" />


  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <!-- Favicons -->
  <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title class="title__color">KiSmovie</title>

  <meta name="author" content="KiMovies.top" />
  <meta expr:content="data:blog.pageTitle" property="og:title" />
  <meta expr:content="data:blog.url" property="og:url" />
  <meta content="KiMovies" property="og:site_name" />
  <meta content="629688671039918" property="fb:app_id" />
  <meta content="article" property="og:type" />
  <% if (movie) { %>
  <title><%- movie.title %> | KiSmovies</title>
  <meta name="keywords" content="<%- movie.slug %>" />
  <meta name="description" content="<%-
    movie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,
    160)+'...'%>" />
  <meta property="og:url" content="/phim/<%- movie.slug %>/xem-phim" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="KiMovies - <%- movie.title %>" />
  <meta property="og:description" content="<%-
    movie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,
    160)+'...'%>" />
  <meta property="og:image" content="<%- movie.movieThumb.full%>" />
  <meta property="og:image:alt" content="<%- movie.title %>" />
  <% } else { %>
  <title><%-title%></title>
  <meta name="keywords"
    content="PhimHD, KisMovie, Vietsub, FHD, FullHD, Phim Bomtan, Phim Hay, PhimMoi, Thuyết minh, lồng tiếng, phim hot" />
  <meta property="og:url" content="https://kismovie.com/" />
  <meta property="og:image" content="https://kismovie.com/img/banner.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:image:alt" content="KisMovie-Banner" />
  <meta property="og:title"
    content="Phim Mới | Phim hay | Xem phim nhanh | Xem phim online | Phim HD vietsub hay nhất" />
  <meta property="og:description"
    content="Xem phim mới, tốc độ cao hơn nữa độ phân giải 1080, xem phim nhanh ít quảng cáo" />
  <% } %>


</head>

<body class="body" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
</body>

</html>