<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css" />
	<link rel="stylesheet" href="/css/bootstrap.min.css" />

	<link rel="stylesheet" href="/css/select2.min.css">
	<!-- <link rel="stylesheet" href="/css/bootstrap-grid.min.css"> -->
	<link rel="stylesheet" href="/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css" />
	<link rel="stylesheet" href="/css/nouislider.min.css" />
	<link rel="stylesheet" href="/css/ionicons.min.css" />
	<link rel="stylesheet" href="/css/plyr.css" />
	<link rel="stylesheet" href="/css/photoswipe.css" />
	<link rel="stylesheet" href="/css/default-skin.css" />
	<link rel="stylesheet" href="/css/bemovie.css?v=1.0.1" />

	<script src="https://unpkg.com/feather-icons"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<!-- Favicons -->
	<link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

	<meta name="description" content="Kismovie – Dịch vụ xem phim online miễn phí với chất lương full hd 4k. Xem phim mọi thể loại không giới hạn được Vietsub chuẩn 2021. Hỗ trợ trên tất cả nền tảng thiết bị hiện hành"/>

	<meta name="author" content="Kismovie.com" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta expr:content="data:blog.pageTitle" property="og:title" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta expr:content="data:blog.url" property="og:url" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta name="title" content="KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta content="KiSMovies" property="og:site_name" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta content="" property="fb:app_id" />

	<meta content="article" property="og:type" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<% if (movie) { 
		serie = movie.movie_series[0]
	%>
	<title><%- serie.title %> | KiSmovies</title>
	<meta name="keywords" content="<%- serie.slug %>" />
	<meta name="description"
		content="<%- serie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0, 160)+'...'%> " />
	<meta property="og:url" content="/phim/<%- serie.slug %>/xem-phim" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="KiSMovies - <%- serie.title %> " />
	<meta property="og:description"
		content="<%- serie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0, 160)+'...'%>" />
	<meta property="og:image" content="<%- serie.movieThumb.full %> " />
	<meta property="og:image:alt" content="<%- serie.title %>" />
	<% } else { %>
	<title><%-title%></title>
	<meta name="keywords" content=": KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub" />
	<meta name="title" content="KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta name="description" content="Kismovie – Dịch vụ xem phim online miễn phí với chất lương full hd 4k. Xem phim mọi thể loại không giới hạn được Vietsub chuẩn 2021. Hỗ trợ trên tất cả nền tảng thiết bị hiện hành"/>
	<meta property="og:url" content="https://kismovie.com/" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta property="og:image" content="https://kismovie.com/img/banner.jpg" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta property="og:type" content="website" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub"/>
	<meta property="og:image:alt" content="KisMovie-Banner" content=": KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub" />
	<meta property="og:title" content="KiSmovie | Xem phim mới Vietsub FullHD | Phim Online FullHD 2K 4K 8K | Phim Mới 2021 Hay Nhất | Thuyết minh tiếng Việt đầy đủ | Phim lẻ phim bộ 2021 FullHD Vietsub">
	<meta property="og:description" content=": Kismovie – Dịch vụ xem phim online miễn phí với chất lương full hd 4k. Xem phim mọi thể loại không giới hạn được Vietsub chuẩn 2021. Hỗ trợ trên tất cả nền tảng thiết bị hiện hành" />
	<% } %>
</head>

<body class="body" oncontextmenu="return false" onselectstart="return false" ondragstart="return false">


</html>