<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3488566376266367"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap-reboot.min.css" integrity="sha512-stCMej6DXfErBwD8bQrJsG2dFPHNW9y8cmccQhW0o+GeSxKzjABmIVdwOzQ5Vlw4HYoEwrECGDRQs8xF0f9ssg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/ionicons.min.css" />
    <link rel="stylesheet" href="/public/css/kismovie.css" />


    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>


    
    <!-- Favicons -->
    <link rel="shortcut icon" href="/public/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/public/icon/favicon.ico" type="image/x-icon" />
    <title>Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!</title>

    <meta
      name="description"
      content="Kismovie – Dịch Vụ Xem Phim Online 2021 miễn phí đem lại cho bạn cảm xúc như ở rạp và bên gia đình. Hơn nữa, đa dạng trên nhiều nền tảng là tự hào của chúng tôi"
    />
    <meta
      name="keywords"
      content="KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub"
    />
    <meta name="author" content="Đạt Huỳnh" />
    <meta expr:content="data:blog.pageTitle" property="og:title" />
    <meta expr:content="data:blog.url" property="og:url" />
    <meta
      name="title"
      content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!"
    />
    <meta content="KiSMovies" property="og:site_name" />

    <meta
      content="article"
      property="og:type"
      content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!"
    />
    <% if (movie) { serie = movie.movie_series[0] %>
    <title><%- serie.title %> | KiSmovies</title>
    <meta name="keywords" content="<%- serie.slug %>" />
    <meta name="description" content="<%-
    serie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,
    150)+'...'%> " />
    <meta property="og:url" content="/phim/<%- serie.slug %>/xem-phim" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="KiSMovies - <%- serie.title %> " />
    <meta property="og:description" content="<%-
    serie.description.replace(/<\/?[^>]+(>|$)/g, "").trim().substr(0,
    150)+'...'%>" />
    <meta property="og:image" content="<%- serie.movieThumb.full %> " />
    <meta property="og:image:alt" content="<%- serie.title %>" />
    <% } else { %>
    <title><%-title%></title>
    <meta
      name="keywords"
      content=": KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub"
    />
    <meta
      name="title"
      content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!"
    />
    <meta
      name="description"
      content="Kismovie – Dịch Vụ Xem Phim Online 2021 miễn phí đem lại cho bạn cảm xúc như ở rạp và bên gia đình. Hơn nữa, đa dạng trên nhiều nền tảng là tự hào của chúng tôi"
    />
    <meta
      property="og:url"
      content="https://kismovie.com/"
      content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!"
    />
    <meta
      property="og:image"
      content="https://www.themoviedb.org/t/p/original/8Y43POKjjKDGI9MH89NW0NAzzp8.jpg"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="KisMovie-Banner" />
    <meta
      property="og:title"
      content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!"
    />
    <meta
      property="og:description"
      content=": Kismovie – Dịch vụ xem phim online miễn phí với chất lương full hd 4k. Xem phim mọi thể loại không giới hạn được Vietsub chuẩn 2021. Hỗ trợ trên tất cả nền tảng thiết bị hiện hành"
    />
    <% } %>
  </head>
</html>