<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3488566376266367"
      crossorigin="anonymous"
    ></script>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap-reboot.min.css" integrity="sha512-stCMej6DXfErBwD8bQrJsG2dFPHNW9y8cmccQhW0o+GeSxKzjABmIVdwOzQ5Vlw4HYoEwrECGDRQs8xF0f9ssg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/kismovie.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css"
    />

    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- Favicons -->
    <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/icon/favicon.ico" type="image/x-icon" />

    <title>Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Kismovie – Dịch Vụ Xem Phim Online 2021 miễn phí đem lại cho bạn cảm xúc như ở rạp và bên gia đình. Hơn nữa, đa dạng trên nhiều nền tảng là tự hào của chúng tôi"
    />
    <meta name="author" content="Đạt Huỳnh" />
    <meta
      name="keywords"
      content="KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub"
    />
    <meta expr:content="data:blog.pageTitle" property="og:title" />
    <meta expr:content="data:blog.url" property="og:url" />
    <meta content="KisMovies" property="og:site_name" />
    <meta content="629688671039918" property="fb:app_id" />
    <meta content="article" property="og:type" />
    <% if (movie) { %>
    <title>KiSmovies | <%- movie.title %></title>
    <meta name="keywords" content="<%- movie.slug %>" />
    <meta name="description"
    content="<%-movie.description.replace(/<\/?[^>]+(>|$)/g,
    "").trim().substr(0,160)+'...'%>" />
    <meta property="og:url" content="/phim/<%- movie.slug %>/xem-phim" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="KisMovie | <%- movie.title %>" />
    <meta property="og:description" content="<%-
    movie.description.replace(/<\/?[^>]+(>|$)/g,
    "").trim().substr(0,160)+'...'%>" />
    <meta property="og:image" content="<%- movie.movieThumb.full%>" />
    <meta property="og:image:alt" content="<%- movie.title %>" />
    <% } else { %>
    <title><%-title%></title>
    <meta
      name="keywords"
      content="KiSmovie, Xem phim mới Vietsub FullHD, Phim Online FullHD 2K 4K 8K, Phim Mới 2021 Hay Nhất, Thuyết minh tiếng Việt đầy đủ, Phim lẻ phim bộ 2021 FullHD Vietsub"
    />
    <meta
      property="og:title"
      content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!"
    />
    <meta
      property="og:description"
      content="Kismovie – Dịch Vụ Xem Phim Online 2021 miễn phí đem lại cho bạn cảm xúc như ở rạp và bên gia đình. Hơn nữa, đa dạng trên nhiều nền tảng là tự hào của chúng tôi"
    />
    <meta
      property="og:url"
      content="https://kismovie.com/"
      content="Kismovie| Chia Sẻ Cảm Xúc Trong Mỗi Phút Phim Cùng Gia Đình!"
    />
    <meta
      property="og:image"
      content="https://www.themoviedb.org/t/p/original/8Y43POKjjKDGI9MH89NW0NAzzp8.jpg"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="KisMovie-Banner" />
    <% } %>
  </head>
</html>