<%- include('./partials/header-serie.ejs') %> <%- include('./partials/menu.ejs')
        %>
<div class="wrap-player">
    <div class="col-12">
        <!-- sections -->
        <%- include('./sections/serie-detail/video.ejs'); %>
        <!-- end sections -->
    </div>
</div>
<%- include('./partials/footer.ejs'); %>
<script src="/js/jwplayer.js"></script>

<!-- Style comment css -->
<script>
    let movieOption = `<%-JSON.stringify(movie.movie_options)%>`;
    let resources = `<%-JSON.stringify(movie.resources)%>`;
    resources = JSON.parse(resources);
    let slug = "<%- movie.slug %>";
    const movieId = "<%- movie._id %>";
    let cloneFrom = "<%- movie.cloneFrom %>";
    var player = jwplayer("player");
    var app = new Vue({
        el: "#section-video",
        data: {
            sources: resources,
            resources: resources,
            loading: false,
            activeServer: 0,
            fileMV: "",
            isDailymotion: false,
        },
        methods: {
            changeServer(server) {
                this.fileMV = this.sources[server][0].file;
                this.activeServer = server;
                player.setup({
                    sources: this.sources[server],
                    width: "100%",
                    height: "360",
                    image: "<%-movie.movie_series[0].movieThumb.medium%>",
                    aspectratio: "16:9",
                    playbackRateControls: "true",
                    stretching: "fill",
                });
            },
            shareFb() {
                let hostname = window.location.hostname;
                let port = window.location.port;
                let url = port ?
                    "http://" + hostname + ":" + port :
                    "http://" + hostname;
                url = `https://www.facebook.com/sharer/sharer.php?href=${url}/phim/${slug}/xem-phim/`;
                newwindow = this.PopupCenter(url, "<%- movie.title %>", 500, 300);
                if (window.focus) {
                    newwindow.focus();
                }
                this.updateOption("shares");
            },
            async updateOption(key) {
                try {
                    let res = await axios.post("/api/movie/update", {
                        key,
                        movieId
                    });
                    let result = res.data.resUpdate;
                    this.views = result.views;
                    this.shares = result.shares;
                    this.downloads = result.downloads;
                    this.likes = result.likes;
                } catch (error) {
                    console.log(error.message);
                }
            },
            PopupCenter(pageURL, title, w, h) {
                var left = screen.width / 2 - w / 2;
                var top = screen.height / 2 - h / 2;
                var targetWin = window.open(
                    pageURL,
                    title,
                    "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=" +
                    w +
                    ", height=" +
                    h +
                    ", top=" +
                    top +
                    ", left=" +
                    left
                );
                return targetWin;
            },
            setPlayer(sources, thumb) {
                console.log(sources);
                player.setup({
                    sources: sources,
                    image: thumb,
                    aspectratio: "16:9",
                    playbackRateControls: "true",
                    width: "100%",
                    height: "100%",
                    aspectratio: "16:9",
                    captions: {
                        color: "#eeee22",
                        fontSize: 14,
                        backgroundOpacity: 0,
                        edgeStyle: "raised",
                    },
                    stretching: "fill",
                });
            }
        },
        created: async function () {
            let thumb = '<%-movie.movie_series[0].movieThumb.full%>'
            this.isDailymotion = this.sources.some(source => source[0].file.includes('dood') || source[0]
                .file.includes('ok.ru') || source[0].file.includes('em.iq.com') || source[0].file
                .includes('www.youtube.com')  || source[0].file
                .includes('hlss.xyz') || source[0].file.includes('short.ink') || source[0].file.includes('zembed.net'));
            if (this.isDailymotion) {
                $('#iframePlayer').attr('src', this.sources[0][0].file);
                $('#player').remove();
            } else {
                $('#iframePlayer').remove();
                this.setPlayer(this.sources[0], thumb)
            }


        },
    });
</script>