<!-- main content -->
<main class="main" id="list-movies">
	<div class="container-fluid">
		<div class="row">
			<!-- main title -->
			<div class="col-12">
				<div class="main__title">
					<h2 class="text-uppercase">Danh sách phim</h2>

					<span class="main__title-stat">Tổng: <%= totalMovies %> </span>

					<div class="main__title-wrap">
						<!-- filter sort -->
						<div class="filter" id="filter__sort">
							<span class="filter__item-label">Search By:</span>

							<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Phim Lẻ">
								<span></span>
							</div>

							<ul class="filter__item-menu dropdown-menu scrollbar-dropdown"
								aria-labelledby="filter-sort">
								<li @click="searchType='phim-le'">Phim Lẻ</li>
								<li @click="searchType='phim-bo'">Phim Bộ</li>
							</ul>
						</div>
						<!-- end filter sort -->

						<!-- search -->
						<form class="main__title-form">
							<input type="text" v-model="txtSearch" v-on:keyup="onSearchMovie" placeholder="Find movie / series..">
							<button type="button" @click="onSearchMovie">
								<i class="icon ion-ios-search"></i>
							</button>
							<div id="result-search-admin" :class="{active:resultSearchHasValue}">
								<ul>
									<li v-for="movie in resultSearch" :key="movie._id">
										<a :href="linkDetailMovie(movie)">{{movie.title}}</a>
									</li>
								</ul>
							</div>
						</form>
						<!-- end search -->
					</div>
				</div>
				
			</div>
			<!-- end main title -->

			<!-- users -->
			<div class="col-12">
				<div class="main__table-wrap">
					<table class="main__table">
						<thead>
							<tr>
								<th>ID</th>
								<th>TITLE</th>
								<th>ObjectId</th>
								<th class="text-center">VIEWS</th>
								<!-- <th>STATUS</th> -->
								<th class="text-center">CRAETED DATE</th>
								<th class="text-center">ACTIONS</th>
							</tr>
						</thead>

						<tbody>
							<% stepIndex = (currentPage == 1) ? 0 : (currentPage-1) * itemPerPage %>
							<% movies.forEach((mv, index)=> { %>
							<tr>
								<td>
									<div class="main__table-text"><%=  stepIndex + (index + 1)%> </div>
								</td>
								<td>
									<div class="main__table-text"><%= mv.title %> </div>
								</td>

								<td>
									<div class="main__table-text"><%= mv._id %> </div>
								</td>

							
								<td>
									
								<div class="main__table-text text-uppercase"><%= mv.cloneFrom  %> 
									</div> 
								</td>
								<td>
									<div class="main__table-text d-flex justify-content-center">
										<%= (mv.movie_options[0]) ?  mv.movie_options[0].views  : '' %>
									</div>
								</td>
								<!-- <td>
									<div class="main__table-text main__table-text--green">Visible</div>
								</td> -->
								<td>
									<div class="main__table-text d-flex justify-content-center">
										<%= moment(mv.createdAt).format('DD-MM-YYYY') %></div>
								</td>
								<td>
									<div class="main__table-btns d-flex justify-content-center">
										<a href="/be-admin/edit/<%= mv.slug %>" class="main__table-btn main__table-btn--edit">
											<i class="icon ion-ios-create"></i>
										</a>
										<a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal" @click="setMovieId('<%-mv._id%>')">
											<i class="icon ion-ios-trash"></i>
										</a>
									</div>
								</td>
							</tr>
							<% }) %>

						</tbody>
					</table>
				</div>
			</div>
			<!-- end users -->

			<!-- paginator -->
			<%- include('../../partials/paging.ejs'); %>
			<!-- end paginator -->
		</div>
	</div>
	<!-- modal delete -->
	<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
		<h6 class="modal__title text-uppercase">Xóa phim</h6>

		<p class="modal__text">Bạn có chắc chắn xóa?</p>
		<div class="modal__btns">
			<button class="modal__btn modal__btn--apply" type="button" @click="onDeleteMovie">Xóa</button>
			<button class="modal__btn modal__btn--dismiss" type="button">Hủy</button>
		</div>
	</div>
	<!-- end modal delete -->
	<div id="loading" :class="{active : isLoading}">
		<div class="content-loading">
			<img src="/img/loading.svg" alt="loading-video">
			<p class="text-white text-uppercase">{{contentLoading}}</p>
		</div>
	</div>
</main>
<!-- end main content -->

<!-- modal status -->
<div id="modal-status" class="zoom-anim-dialog mfp-hide modal">
	<h6 class="modal__title text-uppercase">Cập nhật trạng thái phim</h6>

	<p class="modal__text">Bạn có chắc muốn thay đổi trạng thái của phim?</p>
	<div class="modal__btns">
		<button class="modal__btn modal__btn--apply" type="button">Xác nhận</button>
		<button class="modal__btn modal__btn--dismiss" type="button">Hủy</button>
	</div>
</div>
<!-- end modal status -->
