<!-- details -->
<section id="section-video">
    <div class="container">
        <div class="row">

            <span style="padding-top: 100px;">
                quảng cáo
            </span>
            <div class="container_iframe">
                <iframe
                  class="responsive-iframe"
                  frameborder="0"
                  scrolling="no"
                  src="<%- movie.resources[0][0].file %>"
                  allowfullscreen
                  title="<%-movie.title%>"
                ></iframe>
              </div>

            <div class="col-12">
                <ul class="parts-movie">
                    <% parts.forEach((part, index) => { %>
                    <li class="part-movie-item <%- (currentPart == part.slug) ? 'active' : '' %> ">
                        <a href="/phim-bo/phim/<%-part.slug%>/xem-phim"><%- index+1 %> </a>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <div class="col-12">
                <!-- title -->
                <h3 class="text-white py-2 card__title text-capitalize"><%-movie.title.replace('-','')%></h3>
                <!-- end title -->
            </div>


        </div>
    </div>
</section>
<!-- end details -->