<main class="main" id="app-edit">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <button class="btn btn-danger mt-3" @click="onDelete('<%-movie.slug%>')">Xoá Phim</button>
                <div class="main__title">
                    <h2><%- movie.title %> </h2>
                    <a href="/phim/<%- movie.slug %>/xem-phim" class="main__title-link" target="_blank">Xem Phim</a>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form action="#" class="form">
                    <div class="row">
                        <div class="col-12 col-md-5 form__cover">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <div class="form__img">
                                        <img id="form__img" src="<%- movie.movieThumb.medium %> " alt=" ">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12">
                                    <ul>
                                        <li class="text-white">Số tập: <%- movie.movie_part_series.length +'/'+ movie.parts %> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 form__content">
                            <div class="row">
                                <div class="col-12">
                                    <label for="" class="text-white">Tiêu đề: </label>
                                    <input type="text" class="form__input" placeholder="Tiêu đề" v-model="title" />
                                </div>
                                <div class="col-12">
                                    <label for="" class="text-white">Số tập: </label>
                                    <input type="text" class="form__input" placeholder="Tiêu đề" v-model="parts" />
                                </div>
                                <div class="col-12">
                                    <label for="" class="text-white">Slug Tiêu đề: </label>
                                    <input type="text" class="form__input" placeholder="Slug Tiêu đề" v-model="slug" />
                                </div>
                                <div class="col-12">
                                    <label for="" class="text-white">Trial: </label>
                                    <input type="text" class="form__input" placeholder="trial" v-model="trial" />
                                </div>
                                <div class="col-12">
                                    <label for="" class="text-white">Mô tả: </label>
                                    <textarea id="text" name="text" class="form__textarea" v-model="description"
                                        placeholder="Mô tả phim"></textarea>
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label for="" class="text-white">Năm sản xuất: </label>
                                    <input type="text" class="form__input" placeholder="Năm phát hành" v-model="year">
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label for="" class="text-white">Thời lượng: </label>
                                    <input type="text" class="form__input" placeholder="Thời lượng" v-model="times">
                                </div>

                                <div class="col-12 col-sm-6 col-lg-3">
                                    <label for="" class="text-white">Chất lượng: </label>
                                    <input type="text" class="form__input" placeholder="Chất lượng phim"
                                        v-model="quanlity">
                                </div>

                                <div class="col-12 col-lg-6">
                                    <label for="" class="text-white">Quốc gia: </label>
                                    <select class="js-example-basic-single" id="country" v-model="region">
                                        <option v-for="region in regions" :key="region.regionSlug"
                                            :value="region.regionSlug"><span
                                                class="text-capitalize">{{region.region.toUpperCase()}}</span></option>
                                    </select>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <label for="" class="text-white">Thể loại: </label>
                                    <select class="js-example-basic-single" id="genre" v-model="category">
                                        <option v-for="genre in genres" :key="genre.categorySlug"
                                            :value="genre.categorySlug"><span
                                                class="text-capitalize">{{genre.category.toUpperCase()}}</span></option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="row">

                                <div class="col-12">
                                    <button type="button" class="form__btn" @click="editMovie">Cập nhật</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
        <div id="loading" :class="{active : loading}">
            <div class="content-loading">
                <img src="/img/loading.svg" alt="loading">
                <p class="text-white text-uppercase">{{contentLoading}}</p>
            </div>
        </div>
    </div>
</main>